{% extends "base.html" %}

{% block css %} ../static/styles/top.css {% endblock%}

{% block cont %}
    <div id="container1" class="container">
        <h3>აქციები</h3>
        <div class="grey-line"></div>

        <section>
            <span class="span1">სულსწრაფი შეთავაზებები</span>
            <img style="border-radius: 10px;" src="https://zoommer.ge/_next/image?url=https%3A%2F%2Fs3.zoommer.ge%2Fsite%2Fbadfcc56-d0e8-42f6-a3a6-8225e44bc19e_Thumb.jpeg&w=2048&q=100" alt="">
        </section>
        <br>
        <section>
            <span class="span1">ახალი მოდელები</span>
            <img style="border-radius: 10px;" src="https://zoommer.ge/_next/image?url=https%3A%2F%2Fs3.zoommer.ge%2Fsite%2F5d7b700b-0832-4dba-a046-ec9f416df272_Thumb.jpeg&w=2048&q=100" alt="">
        </section>
        
        <br>
        <br>
    </div>  
    <br>
    

{% endblock %}

    

{% block js %} <script src="/static/scripts/app.js"></script>{% endblock%}