<label for="toggle" class="burger">
    <div class="line9"></div>
    <div class="line9"></div>
    <div class="line9"></div>
  </label>

<footer>
    <div class="tope">
    <div class="texts">
        <div class="t1">
            <p><b>ნავიგაცია</b></p>
            <div class="orange-line1"></div>
            <br>
            <br>
            <a href="">ჩვენ შესახებ</a>
            <br>
            <br>
            <a href="">წესები და პირობები</a>
            <br>
            <br>
            <a href="">კორპორატიული გაყიდვები</a>
            <br>
            <br>
            <a href="">მიწოდების სერვისი</a>
            <br>
            <br>
            <a href="">კარიერა</a>
        </div>
        <div class="t1">
            <p><b>გადახდები</b></p>
            <div class="orange-line2"></div>
            <br>
            <br>
            <a href="">გადახდის მეთოდები</a>
            <br>
            <br>
            <a href="">გარანტია</a>
            <br>
            <br>
            <a href="">განვადება</a>
            <br>
            <br>
            <a href="">ნივთის დაბრუნება</a>
            <br>
            <br>
            <a href="">ნივთის ონლაინ ყიდვის ინსტრუქცია</a>
        </div>
        <div class="t1">
            <p><b>გამოგვყევი</b></p>
            <div class="orange-line3"></div>
            <br>
            <br>
            <a style="font-size: 11.5px;" href=""><i class="bi bi-facebook"></i> Facebook</a>
            <br>
            <br>
            <a style="font-size: 11.5px;" href=""><i class="bi bi-youtube"></i> Youtube</a>
            <br>
            <br>
            <a style="font-size: 11.5px;" href=""><i class="bi bi-instagram"></i> Instagram</a>
            <br>
            <br>
            <a style="font-size: 11.5px;" href=""><i class="bi bi-tiktok"></i> Tik Tok</a>
        </div>
        <div class="t1">
            <p><b>კონტაქტი</b></p>
            <div class="orange-line4"></div>
            <br>
            <br>
            <a style="font-size: 11.5px;" href=""><i class="bi bi-envelope-fill"></i> Info@zoommer.ge</a>
            <br>
            <br>
            <a style="font-size: 11.5px;" href=""><i class="bi bi-telephone-fill"></i> +995 (32) 2 60 30 60 / *7007</a>
            <br>
            <br>
            <a href=""><i class="bi bi-geo-alt-fill"></i> ფილიალები</a>
            <br>
            <br>
            <a style="font-size: 11.5px;" href="">Zoommer App</a>
        </div>
    </div>  
    <img style="margin-top: 210px;" src="../static/images/e-360.svg" alt="">
</div>
<br>
<h5 style="margin-left: 190px; font-size: 13px; color: rgb(117,117,117);">Copyright © 2023 Zoommer.ge. All rights reserved.</h5>

<button id="scrollToTopBtn" class="bi-arrow-up">
    <i class="bi bi-arrow-up"></i>
</button>
<i class="bi bi-arrow-left-right"></i>
<i class="bi bi-chat-right-fill"></i>
</footer>

