{% extends "base.html" %}

{% block css %} ../static/styles/top.css {% endblock%}

{% block cont %}
    <div id="container1" class="container">
        <h3>განვადება</h3>
        <div class="grey-line"></div>
        <section>
            <h4>როგორ შევიძინოთ ტექნიკა ონლაინ განვადებით ზუმერში?</h4>
            <p>
                <br>
                <span class="span1">ზუმერის ქსელში შეგიძლიათ ისარგებლოთ თიბისი ბანკის, საქართველოს ბანკის, კრედო ბანკისა და სფეის QR-ის ონლაინ განვადებით.</span>
                <br>
                ზუმერის ვებგვერდიდან ონლაინ განვადებით სარგებლობისთვის, უპირველესად  საჭიროა გაიაროთ რეგისტრაცია  ან ავტორიზაცია ზუმერის ვებგვერდზე. ინსტრუქცია იხილეთ აქ:
                <br>
                <br>
                <span class="span1">ნაბიჯი 1:</span> გაიარეთ რეგისტრაცია გუგლის ანგარიშით ან ტელეფონის ნომრით, სრულად შეავსეთ თქვენი პროფილი პირადი ინფორმაციით. თუ უკვე დარეგისტრირებული ხართ, გაიარეთ ავტორიზაცია - მეილით, გუგლის ანგარიშითა ან ტელეფონის ნომრით.
                <br>
                <br>
                <span class="span1">ნაბიჯი 2:</span> Რეგისტრაციის გავლის შემდეგ ზუმერის ვებგვერდზე შეარჩიეთ სასურველი ნივთი და აირჩიეთ ღილაკი “ყიდვა”. 
            </p>
            <div class="img-div">
                <img src="https://lh7-us.googleusercontent.com/FJk-k4ZChqMMPSjg8Zv47PJ1amK2l7_m_hBvi3A95YEtlMQuuKt_WUPar_BihgIggitCrOWK5KryMSIHK7EVx_Q19ArwFfcRk1YtorpFpPrqplKlCvFwNyOHZ3HMGCXT6Ol1H1Azltq4UGVfloinXpQ" alt="">
            </div>
            
        </section>
        <section>
            <p>
                <span class="span1">ნაბიჯი 3:</span> 
                სასურველი პარამეტრების არჩევისა და შეკვეთის დეტალების შევსების შემდეგ, დააწექით ღილაკს “შემდეგი”.
            </p>
            <div class="img-div">
                <img src="https://lh7-us.googleusercontent.com/ASu55Xnkf2Phx8usiR4tWSFeOyeeAKEPdDjN4fTQ4Lr4r2hkAxWNS-QpjIJi5gaj78MmMnH-RZHM0wlTuMHbiAlL3gUiBQJCBVGTKj7i_cY7zfWrsU30sgRFMn9Sl-AdlQ6SqRiHdI8zHJ4zT-W5I14" alt="">
            </div>
        </section>
        <section>
            <p>
                <span class="span1">ნაბიჯი 4:</span> 
                გადახდის ტიპებში ირჩევთ “განვადებით შეძენა”-ს, შემდეგ კი სასურველ ბანკს.
            </p>
            <div style="height: 520px;" class="img-div">
                <img style="width: 80vh;" src="https://lh7-us.googleusercontent.com/OXPTRn3gz_xesS9fKesiUg1ldqLw2oZW7rqD5od_sA4OITbvHKrLBk0BiNywTm44hiBWq0_YLHK6vM9L_x6d24qF4G0EYsLZoC3Th9W6AFbMQdMQhX12Jc2jEc7fn1cWT6CqFjooxPoxwqnLr-BzMCI" alt="">
            </div>
        </section>
        <section>
            <p>
                <span class="span1">ნაბიჯი 5:</span> 
                ეცნობით “წესებსა და პირობებს”, რასაც ადასტურებთ მონიშნული პირობაზე დათანხმებით. 
            </p>
            <div style="height: 520px;" class="img-div">
                <img style="width: 80vh;" src="https://lh7-us.googleusercontent.com/ssjZqnrub5f-qYGXf9p641o-92_sQs2dh0oghMR4zgvZvzxhp8YQNS1Y4miM6mQCNUt-Ks-nXDgcWnAHHUOo5dZk2Ou2CCVmiDCp0OAceMGxdmnRc4BsdxRknEY6UeiAbNFpLaL3mrVzF2kIAbNJuj0" alt="">
            </div>
        </section>
        <section>
            <p>
                <span class="span1">ნაბიჯი 6:</span> Ბანკის არჩევის შემდეგ ვაჭერთ “შემდეგს” და გადავდივართ უშუალოდ სასურველი ბანკის ვებგვერდზე.
                <br>
                <br>
                <br>
                <span class="span1">ბანკი 1: თიბისი ბანკი</span>
                <ul>
                    <li>გადახდის მეთოდებში ირჩევთ თიბისი ბანკის განვადებას, აჭერთ ღილაკს “გაგრძელება” და  
                        გადადიხართ ბანკის გვერდზე: Შეიყვანეთ პირადი ნომერი და მობილურის ნომერი, დაადასტურეთ 
                        რომ არ ხართ რობოტი და მიუთითეთ მიღებული კოდი, უსაფრთხოების დაცვისთვის.</li>
                    <li>შეავსეთ განაცხადის ფორმა:  დასაქმების სფერო, შემოსავალი, თანამონაწილეობა, მისმართი, საკონტაქტო პირი;</li>
                    <li>ფინანსური ინფორმაციის შეყვანის შემდეგ გადადიხართ დადასტურების გვერდზე. სადაც დეტალურად 
                        წაიკითხავთ ბანკის მიერ მოთხოვნილ წესებს და თანხმობის შემთხვევაში მონიშნავთ ღილაკს 
                        „ვეთანხმები მოცემულ პირობებს“</li>
                    <li>ატვირთეთ შემოსავლის დამადასტურებელი ცნობა;</li>
                </ul>
                <br>
            ყველა ამ პროცედურის წარმატებით დასრულების შემდეგ დაელოდეთ ჩვენი ოპერატორის ზარს ნივთის 
            მიწოდების/გატანის თაობაზე, მოგაწვდით სასურველ ნივთს, ან თავად შეძლებთ წინასწარ მითითებული 
            ფილიალიდან გატანას.
            </p>  
        </section>
        <section>
            <p>
                <span class="span1">ბანკი 2: საქართველოს ბანკი</span>
                <ul>
                    <li>გადახდის მეთოდებში Საქართველოს ბანკის არჩევის შემდეგ გადადიხართ ბანკის გვერდზე, შეგყავთ მონაცემები ან გადიხართ რეგისტრაციას;</li>
                    <li>გაეცანით საქართველოს ბანკის პირობებს და დათანხმდით სურვილის შემთხვევაში;</li>
                    <li>შეავსეთ თქვენი ფინანსური მონაცემები მოთხოვნილ გრაფებში;</li>
                    <li>აირჩიეთ განვადების პერიოდი;</li>
                    <li>სმს-ის სახიით მიიღებთ დადასტურებას განვადების შესახებ;</li>
                </ul>
                <br>
                ყველა ამ პროცედურის წარმატებით დასრულების შემდეგ დაელოდეთ ჩვენი ოპერატორის ზარს ნივთის 
                მიწოდების/გატანის თაობაზე, მოგაწვდით სასურველ ნივთს, ან თავად შეძლებთ წინასწარ მითითებული 
                ფილიალიდან გატანას.
            </p>  
        </section>
        <section>
            <p>
                <span class="span1">ბანკი 3: კრედო ბანკი</span>
                <ul>
                    <li>კრედო ბანკის განვადების არჩევისას გადავდივართ კრედო ბანკის საიტზე, სადაც ბანკს ავტომატურად 
                        გამოაქვს მონაცემები, თქვენ სურვილისამებრ ირჩევთ განვადების ვადას;</li>
                        <li>ავსებთ პირად მონაცემებს;</li>
                        <li>გაიარეთ რეგისტრაცია ბანკის ვებგვერდზე;</li>
                        <li>გაეცანით პირობებს და სურვილის შემთხვევაში, დათანხმდით მას;</li>
                        <li>გაიარეთ იდენტიფიკაცია;</li>
                </ul>
                <br>
                ყველა ამ პროცედურის წარმატებით დასრულების შემდეგ დაელოდეთ ჩვენი ოპერატორის ზარს ნივთის 
                მიწოდების/გატანის თაობაზე, მოგაწვდით სასურველ ნივთს, ან თავად შეძლებთ წინასწარ მითითებული 
                ფილიალიდან გატანას.
            </p>  
        </section>
        <section>
            <p>
                <span class="span1">ბანკი 4: SPACE QR განვადება</span>
                <ul>
                    <li>იმისთვის რომ, ვისარგებლოთ SPACE-ის განვადებით, აუცილებელია Space Bank-ის აპლიკაცია.</li>
                    <li>გაიარეთ რეგისტრაცია (თუ უკვე არ გაქვთ პირადი ანგარიში);</li>
                    <li>ჩვენს ვებგვერდზე ირჩევთ ნივთს და გადადიხართ SPACE BANK-ის განვადების პორტალში სადაც ჩნდება QR კოდი, რომელსაც ასკანერებთ;</li>
                    <li>დასკანერების შემდეგ ჩვენს სმარტფონზე ისახება ჩვენი არჩეული ნივთის ღირებულება, ვამოწმებთ თანხას და ვაგრძელებთ განვადების შევსებას;</li>
                    <li>ყველა საჭირო ველის შევსებისთანავე თქვენს სმარტფონზე ისახება განვადების სტატუსი დამტკიცებულია თუ არა;</li>
                    <li>ყველა ამ პროცედურის წარმატებით დასრულების შემდეგ დაელოდეთ ჩვენი ოპერატორის ზარს 
                        ნივთის მიწოდების/გატანის თაობაზე, მოგაწვდით სასურველ ნივთს, ან თავად შეძლებთ წინასწარ მითითებული ფილიალიდან გატანას.</li>
                </ul>
                <br>
                ყველა ამ პროცედურის წარმატებით დასრულების შემდეგ დაელოდეთ ჩვენი ოპერატორის ზარს ნივთის 
                მიწოდების/გატანის თაობაზე, მოგაწვდით სასურველ ნივთს, ან თავად შეძლებთ წინასწარ მითითებული 
                ფილიალიდან გატანას.
            </p>  
        </section>
    </div>  



{% endblock %}

    

{% block js %} <script src="/static/scripts/app.js"></script> {% endblock%}

